extends ../../layouts/default.pug

block main
  if(role.permissions.includes("account_view"))
    if (record.avatar)
      div(class="mb-4") Ảnh đại diện
        div
          img(src=record.avatar style="width:100px")

    if (record.fullName)
      div(class="mb-4") Tên: 
        b(class="mb-4") #{record.fullName}

    if (record.email)
      div(class="mb-4") Email: 
        b #{record.email}

    if (record.phone)
      div(class="mb-4") SDT: 
        b #{record.phone}

    if (record.role)
      div(class="mb-4") Quyền: 
        b #{record.role}

    if (record.status)
      div(class="mb-4")
        span Trang thái: 
        if record.status == "active"
          span.badge.badge-success Hoạt động
        else
          span.badge.badge-danger Không hoạt động
    div(class="mb-4") Người tạo: 
      b #{record.userName || "Quản trị viên"}
      //- Trường hợp || "Quản trị viên" dành cho những account tạo bằng tay trước đây nên không có trường createBy
    div(class="mb-4") Thời gian tạo: 
      b #{record.date ? record.date.toLocaleString("vi-VN") : "--/--/----"}
    div(class="mb-4") Người xóa: 
      b #{record.userNameDelete || "Chưa bị xóa !"}
    div(class="mb-4") Thời gian xóa: 
      b #{record.dateDelete ? record.date.toLocaleString("vi-VN") : "--/--/----"}
    if record.updatedBy && record.updatedBy.length > 0
      - const lastUserUpdate = record.updatedBy[record.updatedBy.length - 1];
      div(class="mb-4") Người chỉnh sửa: 
        b(class="badge badge-primary") #{lastUserUpdate.userName}
      div(class="mb-4") Thời gian chỉnh sửa: 
        b #{lastUserUpdate.updatedAt.toLocaleString("vi-VN")}
    else 
      span(class="badge badge-info mb-4") Chưa được cập nhật !
    if(role.permissions.includes("account_edit"))
      a(
        href=`${prefixAdmin}/accounts/edit/${record.id}`
        class="btn btn-outline-warning"
      ) Chỉnh sửa
  else
    span(
      class="badge badge-danger text-center"
    ) Không có quyền truy cập! Liên hệ với admin để hỗ trợ.