extends ../../layouts/default.pug

block main
  if(role.permissions.includes("role_view"))
    if (record.title)
      h1(class="mb-4") #{record.title}

    if (record.description)
      div(class="mb-4") Chi tiết: 
        b #{record.description}

    div(class="mb-4") Người tạo: 
      b #{record.userName || "Quản trị viên"}
      //- Trường hợp || "Quản trị viên" dành cho những account tạo bằng tay trước đây nên không có trường createBy
    div(class="mb-4") Thời gian tạo: 
      b #{record.date ? record.date.toLocaleString("vi-VN") : "--/--/----"}
    if record.updatedBy && record.updatedBy.length > 0
      - const lastUserUpdate = record.updatedBy[record.updatedBy.length - 1];
      div(class="mb-4") Người chỉnh sửa: 
        b(class="badge badge-primary") #{lastUserUpdate.userName}
      div(class="mb-4") Thời gian chỉnh sửa: 
        b #{lastUserUpdate.updatedAt.toLocaleString("vi-VN")}
    else 
      span(class="badge badge-info mb-4") Chưa được chỉnh sửa !
      br

    if(role.permissions.includes("role_edit"))
      a(
        href=`${prefixAdmin}/roles/edit/${record.id}`
        class="btn btn-outline-warning"
      ) Chỉnh sửa
  else
    span(
      class="badge badge-danger text-center"
    ) Không có quyền truy cập! Liên hệ với admin để hỗ trợ.