extends ../../layouts/default.pug

block main
  if(role.permissions.includes("role_view"))
    if (record.title)
      h1(class="mb-4") #{record.title}

    if (record.description)
      div(class="mb-4") Chi tiết: 
        b #{record.description}

    div(class="mb-4") Người tạo: 
      b #{record.userName}
    div(class="mb-4") Thời gian tạo: 
      b #{record.date ? record.date.toLocaleString("vi-VN") : "--/--/----"}

    div(class="mb-4") Người chỉnh sửa: 
      b(class="badge badge-primary") #{record.lastUpdateUserName}
    div(class="mb-4") Thời gian chỉnh sửa: 
      b #{record.lastUpdateDate ? record.lastUpdateDate.toLocaleDateString("vi-VN") : "--/--/----"}

    if(role.permissions.includes("role_edit"))
      a(
        href=`${prefixAdmin}/roles/edit/${record.id}`
        class="btn btn-outline-warning"
      ) Chỉnh sửa
  else
    span(
      class="badge badge-danger text-center"
    ) Không có quyền truy cập! Liên hệ với admin để hỗ trợ.