extends ../../layouts/default.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/sort-role.pug 
include ../../mixins/form-change-multi-role.pug

block main
  if(role.permissions.includes("role_view"))
    h1(class="mb-4") Danh sách nhóm quyền
    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        .row
          .col-6
          .col-6 
            +search(keyword)
    .card.mb-3
      .card-header Danh sách
      .card-body
        .row
          .col-8
            if(role.permissions.includes("role_edit"))
              +form-change-multi-role(`${prefixAdmin}/roles/change-multi?_method=PATCH`)
          .col-4.text-right
            if(role.permissions.includes("role_create"))
              a(
                href=`${prefixAdmin}/roles/create`
                class="btn btn-outline-success mb-3"
              ) + Thêm mới
          .col-12 
            .card.mb-3
              .card-header Sắp xếp
              .card-body
                .row
                  .col-4
                    +sort-role()
        table(
          class="table table-hover table-sm"
          checkbox-multi
        )
          thead
            tr
              th 
                input(type="checkbox" name="checkall")
              th STT
              th Nhóm quyền
              th Mô tả ngắn
              th Người tạo
              th Người chỉnh sửa
              th Hành động
          tbody
            if (records.length > 0)
              each item, index in records
                tr
                  th 
                    input(type="checkbox" name="id" value=item.id)
                  td #{index + 1}
                  td #{item.title}
                  td #{item.description}
                  td 
                    b(class="badge badge-info") #{item.userName}
                    div #{item.date ? item.date.toLocaleDateString("vi-VN") : "--/--/----"}
                  td 
                    b(class="badge badge-primary") #{item.lastUpdateUserName}
                    div #{item.lastUpdateDate ? item.lastUpdateDate.toLocaleDateString("vi-VN") : "--/--/----"}
                  td
                    a(
                      class = "btn btn-secondary btn-sm"
                      href=`${prefixAdmin}/roles/detail/${item.id}`
                    ) Chi tiết
                    if(role.permissions.includes("role_edit"))
                      a(
                        class = "btn btn-warning btn-sm ml-1"
                        href=`${prefixAdmin}/roles/edit/${item.id}`
                      ) Sửa
                    if(role.permissions.includes("role_delete"))
                      button(
                        class = "btn btn-danger btn-sm ml-1"
                        data-id=item.id
                        button-delete-role
                      ) Xoá
            else
              tr
                td(
                  colspan="4"
                  class="text-center"
                ) Chưa có nhóm quyền nào được tạo
    +pagination(pagination)
    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/roles/delete`
    )

    script(src="/Admin/js/role.js")
  else
    span(
      class="badge badge-danger text-center"
    ) Không có quyền truy cập! Liên hệ với admin để hỗ trợ.