extends ../../layouts/default.pug

block main
  if(role.permissions.includes("products-category_view"))
    if (record.title)
      div(class="mb-4")
        h1(class="mb-4") #{record.title}

    if (categoryParent)
      div(class="mb-4")
        b Danh mục: #{categoryParent.title}

    if (record.description)
      div(class="mb-4") !{record.description}

    if (record.position)
      div(class="mb-4") Vị trí: 
        b #{record.position}

    if (record.status)
      div(class="mb-4")
        span Trang thái: 
        if record.status == "active"
          span.badge.badge-success Hoạt động
        else
          span.badge.badge-danger Không hoạt động

    if (record.thumbnail)
      div(class="mb-4")
        img(src=record.thumbnail style="width:100px")
    
    div(class="mb-4") Người tạo: 
      b #{record.userName || "Quản trị viên"}
    div(class="mb-4") Thời gian tạo: 
      b #{record.date ? record.date.toLocaleString("vi-VN") : "--/--/----"}

    if record.updatedBy && record.updatedBy.length > 0
      - const lastUserUpdate = record.updatedBy[record.updatedBy.length - 1];
      div(class="mb-4") Người chỉnh sửa: 
        b(class="badge badge-primary") #{lastUserUpdate.userName.fullName}
      div(class="mb-4") Thời gian chỉnh sửa: 
        b #{lastUserUpdate.updatedAt.toLocaleString("vi-VN")}
    else 
      span(class="badge badge-info mb-4") Chưa cập nhật
    if(role.permissions.includes("products-category_edit"))
      a(
        href=`${prefixAdmin}/products-category/edit/${record.id}`
        class="btn btn-outline-warning"
      ) Chỉnh sửa
  else
    span(
      class="badge badge-danger text-center"
    ) Không có quyền truy cập! Liên hệ với admin để hỗ trợ.
