mixin table-tree(items, level = 1)
  each item in items
    - const prefix = Array(level + 1).join("-- ")
    tr 
      th 
        input(type="checkbox" name="id" value=item.id)
      td #{item.index}
      td
        img(src=item.thumbnail alt=item.title width="90px" height="auto")
      td #{prefix}#{item.title}
      td
        if(role.permissions.includes("products-category_edit"))
          input(
            type="number"
            value=item.position 
            style="width: 40px"
            min=1
            name="position"
          )
        else 
          span(
            class="badge badge-danger text-center"
          ) #{item.position}
      td
        if(role.permissions.includes("products-category_edit"))
          if(item.status === "active")
            button(
              button-change-status
              data-status="active"
              data-id=item.id
              class="badge badge-success"
            ) Hoạt động
          else 
            button(
              button-change-status
              data-status="inactive"
              data-id=item.id
              class="badge badge-danger"
            ) Dừng hoạt động
        else 
          if(item.status === "active")
            span(
              class="badge badge-success"
            ) Hoạt động
          else 
            span(
              class="badge badge-danger"
            ) Dừng hoạt động
      td 
        b(class="badge badge-info") #{item.userName || "Quản trị viên"}
        div #{item.date ? item.date.toLocaleDateString("vi-VN") : "--/--/----"}
      td 
        if item.updatedBy.length > 0
          - const lastUserUpdate = item.updatedBy[item.updatedBy.length - 1];
          b(class="badge badge-primary") #{lastUserUpdate.userName.fullName}
          div #{lastUserUpdate.updatedAt.toLocaleDateString("vi-VN")}
        else 
          span(class="badge badge-warning") Chưa cập nhật
      td
        if(role.permissions.includes("products-category_edit"))
          a(
            href=`${prefixAdmin}/products-category/edit/${item.id}`
            class="btn btn-warning btn-sm"
          ) Sửa
        if(role.permissions.includes("products-category_delete"))
          button(
            class="btn btn-danger btn-sm ml-1"
            data-id=item.id
            button-delete
          ) Xóa
        a(
          href=`${prefixAdmin}/products-category/detail/${item.id}`
          class="btn btn-secondary btn-sm ml-1"
        ) Chi tiết
    if item.children && item.children.length > 0
      +table-tree(item.children, level + 1)