extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Giỏ hàng")

    .row
      .col-12
        table(class="table table-bordered")
          thead
            tr(class="text-center")
              th STT
              th Ảnh
              th Tên
              th Giá
              th Số lượng
              th Tổng tiền
              th Hành động
          tbody
            if(cartDetail.products.length > 0)
              each item,idx in cartDetail.products
                tr(class="text-center")
                  td #{idx+1}
                  td
                    img(src=item.productInfo.thumbnail alt=item.productInfo.title width="80px")
                  td
                    a(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}
                  td #{item.productInfo.priceNew}$
                  td
                    input(
                      type="number"
                      name="quantity"
                      value=item.quantity
                      min="1"
                      product-id=item.product_id
                      style="width: 60px"
                      input-change-quantity
                    )
                  td #{item.totalPrice}$
                  td
                    a(
                      href=`/cart/delete/${item.product_id}`
                      class="btn btn-danger"
                    ) Xóa
            else 
              p.text-center Chưa có sản phẩm nào trong giỏ hàng
        h3(class="text-right") Tổng đơn hàng: #{cartDetail.totalPriceCart.toFixed(1)}$

        div(class="text-right mt-3")
          a(
            href="/checkout"
            class="btn btn-outline-success"
          ) Thanh toán
  script(src="/js/cart.js") 
